body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 40px;
}

h1 {
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
